<div class='col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0'>
  {{ app-banner
   toggleStreamModal=attrs.toggleStreamModal
   authenticateWithTwitter=attrs.authenticateWithTwitter 
   logOut=attrs.logOut
   ping=attrs.ping
   appTitle=appTitle
   session=attrs.session
   activateStream=attrs.activateStream
   counter=attrs.counter
  }}
  {{stream-control-modal}}
  {{app-navigation ping=attrs.ping}}
</div>
