!!! 5
%body
  %h1
    hello world
  %form{name: 'setup', action: '/setup_submission', method: "POST"}
    %ul
      %li
        %label{for: 'api_key'} Api Key:
        %input{type: 'text', name: 'api_key', value: 'ehy2oJuRcw3SlUUFJL9CKg'}
        %br
      %li
        %label{for: 'api_secret'} Api Secret:
        %input{type: 'text', name: 'api_secret', value: 'FKUuetBTitfCMMUVFqpfvJjSHs6x6a2E62LaE2PEk'}
        %br
      %li
        %label{for: 'access_token'} Access Token (optional):
        %input{type: 'text', name: 'access_token', value: '7750542-pQikjKMek3a41fQizpLV5Q4VPAgZh4EavGeFW4ni9J'}
        %br
      %li
        %label{for: 'access_secret'} Access Secret (optional):
        %input{type: 'text', name: 'access_secret', value: 'nh0ILVcp8QpaDxMKWppIVUkg6iP3MaIlSTAkmYbY'}
        %br
      %li
        %label{for: 'domain_name'} Domain Name:
        %input{type: 'text', name: 'domain_name', value: 'hatora.de'}
        %br
      %li
        %label{for: 'search_terms'} Initial Search Term:
        %input{type: 'text', name: 'search_terms', value: '#hatorade, #hatersgonnahate, #meantweets, #haters, @hatora_de'}
        %br
      %li
        %input{type: 'submit'}
